$filter1: brightness(1.2);
$filter2: brightness(0.9);

input{
  border-radius: 20px;
  border:none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    border-radius: 20px;
  }
}
button{
  border: none;
  border-radius: 4px;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    filter: $filter1;
    outline:none;
  }
}

.ctn-normal{
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-login{
  width: 100%;
  max-width: 300px;
  height: 60px;
  padding-left: 50px;
  background: #f8f6fc;
  border-radius: 20px;
}

[class^='input']{
  box-shadow: -4px 4px 0px #c4a9fe;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    border: 1px solid $morado;
    box-sizing: border-box;
    box-shadow: -5px 5px 0px $moradoClaro;
    border-radius: 20px;
  }
}

.error {
   border: 1px solid $rojoClaro !important;
   box-sizing: border-box;
   box-shadow: -5px 5px 0 $rojoClaro;
   background: white !important;
}

.correcto {
   border: 1px solid $verde !important;
   box-sizing: border-box;
   box-shadow: -5px 5px 0 $verdeClaro;
   background: white !important;
}

.alert {
   border: 1px solid $amarillo !important;
   box-sizing: border-box;
   box-shadow: -5px 5px 0 $amarilloClaro;
   background: white !important;

}
.checkbox-container{
  label{
    width: 120px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    input[type="checkbox"]{
      width: 20px;
      height: 20px;
    }
    div.custom-checkbox{
      font-size: 13px;
      background: white;
      border: 1px solid $morado;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;
      z-index: 100;
      position: absolute;
      pointer-events: none;
    }
    span{
      font-size: 14px;
      margin-left: 5px;
    }
  }
}
