$filter1: brightness(1.2);
$filter2: brightness(0.9);

.error{
  border: 1px solid $cp5 !important;
  box-sizing: border-box;
  box-shadow: -5px 5px 0 $cp5;
  background: white !important;
}

.correcto{
  border: 1px solid $cp2 !important;
  box-sizing: border-box;
  box-shadow: -5px 5px 0 $cp3;
  background: white !important;
}

.yellow{
  border: 1px solid $cp11 !important;
  box-sizing: border-box;
  box-shadow: -5px 5px 0 $cp12;
  background: white !important;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
//
// input[type=date]::-webkit-calendar-picker-indicator {
//     -webkit-appearance: none;
//     display: none;
// }

// NOTE: Styles cuando se autocompleta
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: -5px 5px 0px $cp7;
  transition: background-color 5000s ease-in-out 0s;
}

// NOTE: INPUTS
input,select{
  width: 100%;
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: -4px 4px 0px $cp8;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    border: 1px solid $cp9;
    box-sizing: border-box;
    box-shadow: -5px 5px 0px $cp7;
  }
}
.select{
  &-form{
    max-width: 45px;
    height: 45px;
    padding-left: 10px;
  }
}
.input{
  &-login{

    height: 60px;
    padding-left: 50px;
    background: #f8f6fc;
    border-radius: 20px;
    @include sm(){
      max-width: 300px;

    }
  }
  &-form{
    padding: 10px 15px;
    padding-right: 30px;

    @include sm(){
      max-width: 300px;

    }


  }
}

// NOTE: BOTONES
button{
  border: none;
  border-radius: 4px;
  background: $cp9;
  color: white;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    filter: $filter1;
    outline:none;
  }
}

.btn{
  &-cancel{
    position: absolute;
    bottom: 15px;
    right: 15px;

  }
  &-submitModal{

    position: absolute;
    bottom: 15px;
    right: 90px;

  }

}


// NOTE: CHECKBOX CUSTOM
.checkbox-container{
  label{
    width: 120px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    input[type="checkbox"]{
      width: 20px;
      height: 20px;
      box-shadow: none;
    }
    div.custom-checkbox{
      font-size: 13px;
      background: white;
      border: 1px solid $cp9;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;
      z-index: 100;
      position: absolute;
      pointer-events: none;
    }
    span{
      font-size: 14px;
      margin-left: 5px;
    }
  }
}

.ctn-normal{
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
