// --------->{ color palette } <----------------

// $gris: #F2F2F2;
// $verde: #8AFBC3;
// $verdeClaro: #b0ffd8;
// $verdeOscuro: #00d26a;
// $rojo: #ff6161;
// $rojoClaro: #FB8A8A;
// $rojoOscuro: #ff4242;
// $morado: #9639ff;
// $moradoClaro: #dfd0ff;
// $moradoOscuro: rgb(88, 45, 149);
// $amarillo: #faf45b;
// $amarilloClaro: #fdffb0;


$cp1: #F2F2F2;
$cp2: #8AFBC3;
$cp3: #b0ffd8;
$cp3: #00d26a;
$cp4: #ff6161;
$cp5: #FB8A8A;
$cp6: #ff4242;
$cp7: #dfd0ff;
$cp8:#c4a9fe;
$cp9: #9639ff;
$cp10: rgb(88, 45, 149);
$cp11: #faf45b;
$cp12: #fdffb0;
