// .......................................................................... { color palette } #
$cp1:     #3D3D3D;
$cp2:     #FF671B;
$cp3:     #000;
$cp4:     #cacaca;
$cp5:     #ddd;
$cp6:     #e8e8e8;
$cp7:     #8c8c8c;


// ............... { alrets } #

$success: #52C40C;
$warning: #FFD340;
$error: #ec1b2e;
