// --------->{ color palette } <----------------

$gris: #F2F2F2;
$verde: #8AFBC3;
$verdeClaro: #b0ffd8;
$verdeOscuro: #00d26a;
$rojo: #ff6161;
$rojoClaro: #FB8A8A;
$rojoOscuro: #ff4242;
$morado: #9639ff;
$moradoClaro: #dfd0ff;
$moradoOscuro: rgb(88, 45, 149);
$amarillo: #faf45b;
$amarilloClaro: #fdffb0;
