body {
  margin: 0;
  padding 0;
}

div#login {
  width: 400px;
  height: 300px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  border-radius: 8px 8px 8px 8px;
}

#usuCon {
  margin-left: 50px;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  height: 100vh;
  background: url(imagenes/fondo_total.jpg) no-repeat center top;
  background-size: cover;
  background-position: center center;
}

.center {
  text-align: center;
}

.cajitas {
  border: 1px solid #DDDDDD;
  border-radius: 8px 8px 8px 8px;
}

.botonIngresar {
  background: none repeat scroll 0 0 #669900;
  border: 1px solid #29691D !important;
  color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin:auto;
  display: block;
}

.letratodo {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
