body {
  margin: 0;
  padding 0;
}

div#login {
  width: 500px;
  height: 300px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  border-radius: 8px 8px 8px 8px;
  margin-top: 25vh;
}

div#usuCon {
  width: 70%;
  float: left;
}

.logo {

margin-top: 10px;
margin-right: 40px;


}

.contenedor {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  height: 100vh;
  background: url(imagenes/fondo_total.jpg) no-repeat center top;
  background-size: cover;
  background-position: center center;
}

.letratodo {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.center {
  text-align: center;
}

.cajitas {
  border: 1px solid #DDDDDD;
  border-radius: 8px 8px 8px 8px;
}

.botonIngresar {


padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #FFFFFF !important;
  background: none repeat scroll 0 0 #008CBA;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.botonIngresar {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.botonIngresar:hover {
  background-color: #FFFFFF; /* Green */
  color: black;
}
