.alert{

  &-container{
    width: 250px;
    text-align: center;
    height: 50px;
    display: none;
    position: fixed;
    bottom:0;
    left:0;
    top: 0;
    right: 0;
    margin: auto;
    margin-bottom: 0;
    border-radius: 4px;
    color: white;
    z-index: 999;
    .alert-content{
      padding: 13px;
    }
  }

  &-error{
    background: $cp4;
  }
  &-check{
    background: $cp3;
  }

  &-server{
    background: $cp11;
    color: black;
  }
  &-duplicate{
    background: $cp9;
    color: white;
  }
  &-dontExists{
    background: $cp9;
    color: white;
  }
}
