form {
  background: rgba(255, 255, 255, 0.61);
  padding: 30px 30px 70px;
  position: relative;
  @include sm() {
    padding: 30px 50px 70px;
  }

  h1 {
    color: $moradoOscuro;
    text-align: center;
    font-size: 15vw;
    display: none;
    @include sm() {
      font-size: 64px;
    }
  }

  h2 {
    margin-top: 20px;
    line-height: 20px;
    font-family: 'Arial';
  }

  input,
  label {
    width: 100%;
    @include sm() {
      max-width: 400px;
    }
  }

  label {
    margin-top: 20px;
  }

  input#numIdentEstu,
  input#numIdentAcu {
    &:hover,
    &:focus,
    &:active,
    &:visited{
      &+select#tipoIdentEstu,
      &+select#tipoIdentAcu {
        border: 1px solid $morado;
      }
    }
  }

  select#tipoIdentEstu,
        #tipoIdentAcu {
    padding-left: 0;
    position: absolute;
    right: 15px;
    bottom: 0;
    box-shadow: 4px 4px 0 #c4a9fe;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 46px;
    @include lg() {
      right: 100px;
    }
  }
}

form#estudiante{
  display: none;
}
form#acudiente{
  display: none;
}
