form{
  h1{
    color: $moradoOscuro;
  }
  padding: 30px 10px;
  @include sm(){
    padding: 30px 50px;
  }
  input,label{
    width: 100%;
    max-width: 400px;

  }
  label{
    font-size: 3vw;
    @include sm(){
      font-size: 1rem
    }
  }
  input[type="date"]{
    max-width: 280px;
  }
}
