form {
  padding: 30px;
  padding-bottom: 50px;
  position: relative;
  @include sm() {
    padding: 30px 50px 70px;
  }

  h1 {
    color: $moradoOscuro;
    text-align: center;
    font-size: 15vw;
    display: none;
    @include sm(){
      font-size: 64px;

    }
  }

  h2 {
    margin-top: 20px;
    line-height: 20px;
    font-family: 'Arial'
  }

  input,
  label {
    width: 100%;
    @include sm() {
      max-width: 400px;
    }
  }

  label {
    margin-top: 20px;
  }
  select#tipoIdent{
    padding-left: 0px;
  }


}
