.modal{

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 30px 0px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

}
.modal-container{
  max-height: 100%;
  width: 90%;

  @include sm(){
    max-width: 650px;
  }
  @include lg(){
    max-width: 900px;
  }

  .modal-tittle{
    padding-top: 20px;
    padding-bottom: 0px;
    h1{
      margin-bottom: 0px;
      text-align: center;
      color: $moradoOscuro
    }

  }
  .modal-body{
    position: relative;
    h2{
      text-align: center;
    }
    .loading{
      display: none;
      background: #836AFF;
      box-sizing: border-box;
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;

      z-index: 100;

      img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;


      }

    }
  }



}

#modalElminar{

  .modal-container{

    @include lg(){
      max-width: 650px;;
    }

    h2{
      padding-top: 20px;
    }

    form{
      padding-top: 0px;
      label{
      margin-top: 0px;
      }
    }

  }

}

#modalEditMostrar{
  .modal-body{
    form{
      button[type="submit"]{
        right: 30px;
      }
    }
    form:nth-last-child(2){
      button[type="submit"]{
        right: 90px;
      }
    }

  }

}



#modalEdit{
  .modal-body{
    form{
      button[type="submit"]{
        right: 30px;
      }
    }
    form:nth-last-child(2){
      button[type="submit"]{
        right: 90px;
      }
    }

  }

}

#modalShow{
  div[class^='col-']{
    p{
      border-bottom: 1px solid $morado;
      box-shadow: 0px 2px 0px #c4a9fe;
    }
  }
}
