nav {
  width: 100%;
  background: $cp10 !important;
  position: relative;

  h1 {
    color: white;
    font-size: 40px;
    line-height: normal;
    margin: 0 0 0 15px;
  }

  div.icon-menu {
    width: 40px;
    text-align: center;
    border: 1px solid $cp9;
    border-radius: 4px;
    font-size: 30px;
    color: white;
    margin-right: 15px;
    margin-left: auto;
    margin-top: 4px;
    padding: 3px;
    cursor: pointer;
    @include lg() {
      display: none;
    }
  }

  div.menu-container {
    display: none;
    @include lg() {
      display: block !important;
      position: absolute;
      right: 50px;
      top: -36px;
      margin: 0;
      padding: 0;
    }

    div.menu-content {
      width: 100%;
      height: 100%;
      background: white;
      @include lg(){
        background: none;
      }

      ul {
        padding: 0;
        list-style: none;
        text-align: center;

        li {
          padding: 10px;
          @include lg() {
            display: inline;
          }

          a {
            color: #212529;
            text-decoration: none;
            @include lg(){
              color: white;
            }
          }

          button#acountbtn {
            color: white;
            background: $cp9;
          }
        }
      }
    }

    div.account-container {
      display: none;
      background: white;
      text-align: center;
      width: 100%;
      position: relative;
      z-index: 10;

      @include lg(){
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        margin-top: 5px;
        max-width: 275px;
        margin-left: auto;
      }

      h4 {
        margin-bottom: 0;
        color: #212529;
        font-weight: normal;
      }

      img {
        width: 150px;
        border-radius: 100%;
        margin: 20px 0;
      }

      button {
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }
}
