section#login {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include sm() {
    height: 100vh;
  }

  .login-container {

    margin: auto;
    width: 90%;
    max-width: 650px;
    height: 600px;
    padding: 10px;
    animation: pageLoad 3s ease both;
    @include sm(){
      padding: 50px;

    }
    @include lg() {
      padding: 60px 110px;
    }

    h1 {
      margin-bottom: 65px;
    }

    form {
      div[class^='icon']{
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        position: relative;
        &:before{
          position: absolute;
          top: 15px;
          left:10px;
          font-size: 30px;
        }
        input[type="text"] {
          margin-bottom: 15px;
        }
      }

      button[type="submit"] {
        width: 100%;
        max-width: 220px;
        height: 50px;
        margin: 35px auto 0;
        background: rgb(88, 45, 149);
        color: white;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 1px;
        display: block;
      }

      .checkbox-container {
        margin-top: 40px;
        text-align: left;
        display: inline-block;
        font-size: 14px;
        line-height: 17px;

        label {
          margin-right: 10px;
          
<<<<<<< HEAD

          input[type="checkbox"] {

=======

          input[type="checkbox"] {

>>>>>>> e8fa123098a3d75c1f9c22a9d98890365e2e7001
          }
        }

        span {

          @include sm(){
            margin-right: 50px;
            margin-bottom: 0px;
          }

        }
      }

      a {
        margin-top: 10px;
        display: block;
        color: rgb(88, 45, 149);
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        @include sm(){
          margin-top: 0px;
          display: inline-block;
        }
      }
    }
  }
}

@keyframes pageLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
